---
import gradiantLogo from '~/assets/images/gradiant.png';
import bizawayLogo from '~/assets/images/bizaway.svg';
import codeeLogo from '~/assets/images/codee.png';
import disashopLogo from '~/assets/images/disashop.png';

import denodoLogo from '~/assets/images/denodo.png';
import igaliaLogo from '~/assets/images/igalia.svg';
import cicasLogo from '~/assets/images/cicas.png';
import nttdataLogo from '~/assets/images/nttdata.svg';
import roommatikLogo from '~/assets/images/roommatik.png';
import inditexLogo from '~/assets/images/inditex.svg';

import duacodeLogo from '~/assets/images/duacode.png';

import { Image } from 'astro:assets';
import Layout from '~/layouts/PageLayout.astro';
import Headline from '~/components/blog/Headline.astro';

export const goldSponsors = [
  {
    name: 'Codee',
    href: 'codee',
    image: codeeLogo,
  },
  {
    name: 'BizAway',
    href: 'bizaway',
    image: bizawayLogo,
  },
  {
    name: 'Gradiant',
    href: 'gradiant',
    image: gradiantLogo,
  },
  {
    name: 'Disashop',
    href: 'disashop',
    image: disashopLogo,
  },
];

export const silverSponsors = [
  {
    name: 'Denodo',
    href: 'denodo',
    image: denodoLogo,
  },
  {
    name: 'Igalia',
    href: 'igalia',
    image: igaliaLogo,
  },
  {
    name: 'Inditex',
    href: 'inditex',
    image: inditexLogo,
  },
  {
    name: 'Cátedra CICAS',
    href: 'cicas',
    image: cicasLogo,
  },
  {
    name: 'NTTData',
    href: 'nttdata',
    image: nttdataLogo,
  },
  {
    name: 'Roommatik',
    href: 'roommatik',
    image: roommatikLogo,
  }
]

const bronzeSponsors = [
{
    name: 'Duacode',
    href: 'duacode',
    image: duacodeLogo,
  }
]
---

<Layout metadata={{ title: 'Patrocinadores' }}>
  <div class="mt-10 -mb-5">
    <Headline title="Patrocinadores" />
  </div>
  <div class="text-center font-semibold text-3xl mb-5">🥇 Oro</div>
  <div class="max-w-screen-md mx-auto grid grid-cols-2 gap-y-4 sm:gap-10 mb-10">
    {
      goldSponsors.map((c) => {
        return (
          <a href={`/patrocinadores/${c.href}`} class="">
            <div class="border rounded-lg mx-2 flex flex-col align-middle text-center justify-center h-[120px] px-1 hover:bg-slate-50 transition-colors">
              <Image
                src={c.image}
                alt={`${c.name} Image`}
                width={200}
                style="box-shadow: none !important"
                class:list={'mx-auto'}
              />
            </div>
          </a>
        );
      })
    }
  </div>
  <div class="text-center font-semibold text-3xl mb-5">🥈 Plata</div>
  <div class="max-w-screen-md mx-auto grid grid-cols-2 gap-y-4 sm:gap-10 mb-10">
    {
      silverSponsors.map((c) => {
        return (
          <a href={`/patrocinadores/${c.href}`} class="">
            <div class="border rounded-lg mx-2 flex flex-col align-middle text-center justify-center h-[120px] px-1 hover:bg-slate-50 transition-colors">
              <Image
                src={c.image}
                alt={`${c.name} Image`}
                width={200}
                style="box-shadow: none !important"
                class:list={'mx-auto'}
              />
            </div>
          </a>
        );
      })
    }
  </div>
  <div class="text-center font-semibold text-3xl mb-5">🥉 Bronce</div>
  <div class="max-w-screen-md mx-auto grid grid-cols-4 gap-y-4 sm:gap-10 mb-10">
    <div class="col-span-1"></div>
    {
      bronzeSponsors.map((c) => {
        return (
          <a href={`/patrocinadores/${c.href}`} class="col-span-2 ">
            <div class="border rounded-lg mx-2 flex flex-col align-middle text-center justify-center h-[120px] px-1 hover:bg-slate-50 transition-colors">
              <Image
                src={c.image}
                alt={`${c.name} Image`}
                width={200}
                style="box-shadow: none !important"
                class:list={'mx-auto'}
              />
            </div>
          </a>
        );
      })
    }
  </div>
</Layout>
