---
import type { Brands } from '~/types';
import Headline from '~/components/ui/Headline.astro';
import WidgetWrapper from '~/components/ui/WidgetWrapper.astro';
import { Image } from 'astro:assets';
const {
  title = '',
  subtitle = '',
  tagline = '',
  oro = [],
  plata = [],
  bronce = [],
  colaboradores = [],
  id,
  isDark = false,
  classes = {},
  bg = await Astro.slots.render('bg'),
} = Astro.props as Brands;
---

<WidgetWrapper id={id} isDark={isDark} containerClass={`max-w-6xl mx-auto ${classes?.container ?? ''}`} bg={bg}>
  <Headline title={title} subtitle={subtitle} tagline={tagline} />

  <div class="text-center text-xl dark:text-gray-300 font-medium mb-2">Oro</div>
  <div class="flex flex-wrap justify-center gap-x-6 sm:gap-x-12 lg:gap-x-24">
    {
      oro &&
      oro.map(
          (image) =>
            image.src && (
              <div class="flex flex-col justify-center col-span-1 my-2 lg:my-4 py-1 px-3 rounded-md dark:bg-gray-200">
                { image.href ? <a href={image.href} class="grayscale hover:grayscale-0">
                  <Image src={image.src} alt={image.alt || ''} height={image.height || 200} width={image.width || 200} />
                </a> : <Image src={image.src} alt={image.alt || ''} height={image.height || 200} width={image.width || 200} /> }
              </div>
            )
        )
    }
  </div>
  <div class="mt-5 text-center text-xl dark:text-gray-300 font-medium mb-2">Plata</div>
  <div class="flex flex-wrap justify-center gap-x-6 sm:gap-x-12 lg:gap-x-24">
    {
      plata &&
      plata.map(
          (image) =>
            image.src && (
              <div class="flex flex-col justify-center col-span-1 my-2 lg:my-4 py-1 px-3 rounded-md dark:bg-gray-200">
                { image.href ? <a href={image.href} class="grayscale hover:grayscale-0">
                  <Image src={image.src} alt={image.alt || ''} height={image.height || 200} width={image.width || 200} />
                </a> : <Image src={image.src} alt={image.alt || ''} height={image.height || 200} width={image.width || 200} /> }
              </div>
            )
        )
    }
  </div>
  {bronce.length !== 0 && <div class="mt-5 text-center text-xl dark:text-gray-300 font-medium mb-2">Bronce</div>}
  <div class="flex flex-wrap justify-center gap-x-6 sm:gap-x-12 lg:gap-x-24">
    {
      bronce &&
      bronce.map(
          (image) =>
            image.src && (
              <div class="flex flex-col justify-center col-span-1 my-2 lg:my-4 py-1 px-3 rounded-md dark:bg-gray-200">
                { image.href ? <a href={image.href} class="grayscale hover:grayscale-0">
                  <Image src={image.src} alt={image.alt || ''} height={image.height || 200} width={image.width || 200} />
                </a> : <Image src={image.src} alt={image.alt || ''} height={image.height || 200} width={image.width || 200} /> }
              </div>
            )
        )
    }
  </div>
  <div class="mt-5 text-center text-xl dark:text-gray-300 font-medium mb-2">Colaboradores</div>
  <div class="flex flex-wrap justify-center gap-x-6 sm:gap-x-12 lg:gap-x-24">
    {
      colaboradores &&
      colaboradores.map(
          (image) =>
            image.src && (
              <div class="flex flex-col justify-center col-span-1 my-2 lg:my-4 py-1 px-3 rounded-md dark:bg-gray-200">
                { image.href ? <a href={image.href}>
                  <Image src={image.src} alt={image.alt || ''} height={image.height || 200} width={image.width || 200} />
                </a> : <Image src={image.src} alt={image.alt || ''} height={image.height || 200} width={image.width || 200} /> }
              </div>
            )
        )
    }
  </div>
</WidgetWrapper>
